
.App {
  margin-top: 0;
}

.main {
  text-align: center;
}

.content {
  width: 100vw - 200px;
  height: 100%;
  margin-left: 200px;
}

.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.sidebar-button {
  margin: 40px;
  background: black;
}

.recipe-view {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center
}

.recipe-item {
  margin: 4px;
  background: gray;
  width: 40%;
  height: 40%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}